.experience{
  grid-template-areas: "experience-image"
                       "experience-content";
  &__image{
    grid-area: experience-image;
  }

  &__content{
    grid-area: experience-content;
    &__details{
      &__box{
        &__progress{
          &__bar{
            height: 1px;
            background: $bg-gray;
            &__parcent{
              height:5px;
              background-color: $indigo;
              border-radius: 5px;
              position: relative;
              top: -2.5px;

              &.first{
                width: 30%;
              }

              &.second{
                width: 80%;
              }

              &.third{
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
}