.footer{
  grid-template-areas: "left"
                       "center"
                       "right";
  &__left{
    grid-area: left;
  }

  &__center{
    grid-area: center;
  }

  &__right{
    grid-area: right;
  }


}