.header {
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;

  &__center {
    display: none;
    &__nav {
      position: absolute;
      right: 20px;
      top: 70px;
      background: $bg-footer;
      border: 3px solid rgb(189, 189, 189);

      &__list {
        &__item {
          &__link {
            display: block;
            padding: 0.5rem 3rem;
            border-bottom: 1px solid rgb(189, 189, 189);
          }
        }
      }
    }
  }

  &__right {
    &__hamburger {
      & i {
        pointer-events: none;
      }

      &:hover + .header__center {
        display: block;
      }
    }
    &__button {
      @include button;
    }

    &__list {
      &__item {
        display: none;
      }
    }
  }
}
